[submodule "Flights-Service"]
	path = Flights-Service
	url = https://github.com/CP-Rahul/Flights-Service.git
[submodule "Booking-Service"]
	path = Booking-Service
	url = https://github.com/CP-Rahul/Booking-Service.git
[submodule "Api-Gateway"]
	path = Api-Gateway
	url = https://github.com/CP-Rahul/Api-Gateway.git
